.outsite__container {
    position: fixed;
    z-index: 1051;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal__header {
    padding: 1.3rem !important;
}